@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Nunito Sans", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Scrollbar per browser basati su WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px; /* Larghezza della scrollbar verticale */
  height: 6px; /* Altezza della scrollbar orizzontale */
}

::-webkit-scrollbar-track {
  background: transparent; /* Colore dello sfondo del tracciato */
  border-radius: 10px; /* Arrotondamento del tracciato */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Colore del pollice (parte che si muove) */
  border-radius: 10px; /* Arrotondamento del pollice */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Colore del pollice al passaggio del mouse */
}

/* Scrollbar per Firefox */
* {
  scrollbar-arrow-color: transparent;
  scrollbar-width: thin; /* Larghezza sottile */
  scrollbar-color: #888 transparent; /* Colore del pollice e dello sfondo */
}
